.index-page {
  min-height: 100vh;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.search-bar {
  background: #fff;
  padding: 20rpx 30rpx;
  position: sticky;
  top: 0;
  z-index: 100;
  
  .location {
    display: flex;
    align-items: center;
    margin-bottom: 20rpx;
    
    .icon {
      font-size: 28rpx;
      margin-right: 8rpx;
    }
    
    .address {
      font-size: 28rpx;
      color: #333;
      font-weight: 500;
      flex: 1;
    }
    
    .arrow {
      font-size: 20rpx;
      color: #999;
    }
  }
  
  .search-input {
    display: flex;
    align-items: center;
    background: #f5f5f5;
    border-radius: 40rpx;
    padding: 16rpx 30rpx;
    
    .icon {
      font-size: 28rpx;
      margin-right: 16rpx;
    }
    
    .placeholder {
      font-size: 26rpx;
      color: #999;
    }
  }
}

.category-nav {
  background: #fff;
  white-space: nowrap;
  border-bottom: 1rpx solid #eee;
  
  .category-item {
    display: inline-block;
    padding: 20rpx 30rpx;
    font-size: 28rpx;
    color: #666;
    
    &.active {
      color: #ff4d4f;
      font-weight: 500;
      border-bottom: 4rpx solid #ff4d4f;
    }
  }
}

.merchant-list {
  flex: 1;
  padding: 20rpx;
  
  .list-header {
    display: flex;
    align-items: center;
    margin-bottom: 20rpx;
    
    .title {
      font-size: 32rpx;
      font-weight: 600;
      color: #333;
    }
    
    .subtitle {
      font-size: 24rpx;
      color: #999;
      margin-left: 16rpx;
    }
  }
  
  .loading {
    text-align: center;
    padding: 60rpx;
    color: #999;
  }
  
  .merchant-card {
    display: flex;
    background: #fff;
    border-radius: 16rpx;
    padding: 24rpx;
    margin-bottom: 20rpx;
    
    .logo {
      width: 160rpx;
      height: 160rpx;
      border-radius: 12rpx;
      background: #eee;
    }
    
    .info {
      flex: 1;
      margin-left: 24rpx;
      display: flex;
      flex-direction: column;
      
      .name-row {
        display: flex;
        align-items: flex-start;
        margin-bottom: 12rpx;
        
        .name {
          font-size: 32rpx;
          font-weight: 600;
          color: #333;
          flex: 1;
        }
        
        .tags {
          display: flex;
          flex-wrap: wrap;
          
          .tag {
            font-size: 20rpx;
            color: #666;
            background: #f5f5f5;
            padding: 4rpx 12rpx;
            border-radius: 4rpx;
            margin-left: 8rpx;
          }
        }
      }
      
      .rating-row {
        display: flex;
        align-items: center;
        font-size: 24rpx;
        color: #666;
        margin-bottom: 12rpx;
        
        .rating {
          color: #ff9500;
          margin-right: 16rpx;
        }
        
        .sales {
          margin-right: 16rpx;
        }
        
        .time {
          margin-right: 16rpx;
        }
      }
      
      .price-row {
        .min-price {
          font-size: 24rpx;
          color: #666;
        }
      }
    }
  }
}
